@page "/weather"
@inject HttpClient Http


<h1>Book a Ride</h1>

<div class="ride-container">
    <div class="ride">
        <h2>Bicycle</h2>
        <p>James Cyclist</p>
        <p>+243 82 111 22 33</p>
        <button>Confirm</button>
    </div>
    <div class="ride">
        <h2>Boda Taxi</h2>
        <p>James Driver</p>
         <p>+243 12 345 89 45</p>

        <button>Confirm</button>
    </div>
    <div class="ride">
        <h2>Cart-rider</h2>
        <p>Will </p>
        <p>+243 99 002 37 57</p>

        <button>Confirm</button>
    </div>
    <div class="ride">
        <h2>Courier</h2>
        <p>Ann</p>
        <p>+243 19 265 25 73</p>

        <button>Confirm</button>
    </div>
</div>
